<section>
    <div class="main-information">
        <div class="main-titles"> 
            <h3 class="main-title">About Me</h3>
            <h2 class="main-subtitle">Who I am?</h2>
        </div>
        <p class="main-text">
            Hello, I'm Angel Ortega, a passionate cross-platform software developer. 
            When I'm not exploring new galaxies of knowledge and skills in the software development 
            universe, you can find me in two of my favorite hobbies:
        </p>
    </div>
    <div class="games-information">
        <div class="games-gallery">
            <img src="../../assets/images/img-2.jpg" alt="">
            <img src="../../assets/images/img-3.jpg" alt="">
            <img src="../../assets/images/img-4.jpg" alt="">
        </div>
        <div class="games-texts">
            <h4 class="games-title">Navigating the Video Game Galaxies</h4>
            <p class="games-text">
                I'm a big fan of open world games like Assassin's Creed and 
                Far Cry, where I can explore vast landscapes and embark on 
                exciting adventures. Not only are video games a fun way to relax,
                but I also appreciate the complexity and creativity that goes into
                developing these immersive worlds.
            </p>
        </div>
    </div>
    <div class="computer-information">
        <div class="computer-texts">
            <h4 class="computer-title">Navigating the Video Game Galaxies</h4>
            <p class="computer-text">
                I'm a big fan of open world games like Assassin's Creed and 
                Far Cry, where I can explore vast landscapes and embark on 
                exciting adventures. Not only are video games a fun way to relax,
                but I also appreciate the complexity and creativity that goes into
                developing these immersive worlds.
            </p>
        </div>
        <div class="computer-gallery">
            <img src="" alt="">
            
        </div>
    </div>
</section>