<nav>
    <h1>My Portfolio</h1>
    <ul class="nav-links">
        <li><a class="link-home" href="">Home</a></li>
        <li class="dropdown">
            <div class="dropbtn">About Me</div>
            <div class="dropdown-content">
                <li class="link-myself"><a href="">Myself</a></li>
                <li class="link-skills"><a href="">Skills</a></li>
                <li class="link-projects"><a href="">Projects</a></li>
            </div>
        </li>
        <li class="link-services"><a href="">Services</a></li>
        <li class="link-contact"><a href="">Contact</a></li>
    </ul>
</nav>