nav {
    width: 100%;
    padding: 1%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    z-index: 10;
    transition: all 1s;
}

.scrolled {
    background: #1a94a9;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

nav h1 {
    flex: 2;
    color: #fff;
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    flex: 1;
    list-style: none;
    font-size: 18px;
    color: #fff;
}


nav li a {
    text-decoration: none;
    color: #fff;
    padding: 2px 10px;
}

nav .link-home:hover {
    border-bottom: 1px solid #1500fb;
}

nav .link-services:hover {
    border-bottom: 1px solid #fc2f00;
}

nav .link-contact:hover {
    border-bottom: 1px solid #ec7d10;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.dropdown-content {
    visibility: hidden;
    opacity: 0;
    height: 0;
    list-style-type: none;
    line-height: 2;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.dropdown-content li {
    width: 100%;
}

.dropdown-content a {
    font-size: 16px;
}

.dropdown:hover {
    background-color: #ec0868;
}

#arrow {
    transition: all .5s;
    font-weight: bold;
}

.dropdown:hover #arrow {
    transform: rotate(180deg);
}

.dropdown:hover .dropdown-content {
    position: absolute;
    visibility: visible;
    opacity: 1;
    height: auto;
    width: 100%;
    background-color: #ec086789;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

.dropdown-content .link-myself:hover {
    background-color: #bd0652;
}

.dropdown-content .link-skills:hover {
    background-color: #bd0652;
}

.dropdown-content .link-projects:hover {
    background-color: #bd0652;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}