<section>
    <div class="welcome-container">
        <div class="welcome-text-container">
            <h2>I am <span class="text-decoration">{{ displayedText }}</span>,</h2>
            <h2>and your pilot in this interstellar adventure</h2>
            <p>Discover the stars of my career in software development</p>
            <div class="links">
                <a class="link-my-universe" href="">My Universe</a>
                <a class="link-communicate" href="">Communicate</a>
            </div>
        </div>
        <div class="welcome-image">
            <img src="../../assets/images/img-1.png" alt="Astronaut in space">
        </div>
        <div class="container_mouse">
            <span class="mouse-btn">
                <span class="mouse-scroll"></span>
            </span>
        </div>
    </div>
</section>